.
..
.bash_history
.bash_logout
.bashrc
.cache
.git
.gnupg
klipper
klippy-env
mjpg-streamer
.octoprint
OctoPrint
oprint
.profile
scripts
.ssh
.vscode-server
.wget-hsts
.gitconfig
printer-*.cfg
workspace.code-workspace
