[include ./klipperConfig/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD5054254393040772357-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[static_digital_output usb_pullup_enable]
pins: !PA14

[printer]
kinematics: corexz
# max_accel: 7000 #resonance testing value
# max_accel_to_decel: 7000 #resonance testing value
max_velocity: 300
max_accel: 800
max_z_velocity: 50
max_z_accel: 500
square_corner_velocity: 4.0

[force_move]
enable_force_move: True

[controller_fan my_controller_fan]
pin: rpi:gpio26
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control = pid
#pid_kp = 60.695
#pid_ki = 1.073
#pid_kd = 858.069
min_temp: 0
max_temp: 130

[fan]
pin: PC6

# thermally controlled hotend fan
[heater_fan my_nozzle_fan]
pin: PC7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[display]
#    FYSETC mini12864 LCD Display v1.2
lcd_type: uc1701
cs_pin: PB8
a0_pin: PB15
rst_pin: PB9
encoder_pins: ^PA9,^PA10
click_pin: ^!PB5
contrast: 63
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6

[output_pin BEEPER_pin]
pin: PA15
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.005
scale: 1000

# [virtual_sdcard]
# path: /home/pi/sdcard

[pause_resume]

# [menu __octoprint]
# type: list
# enable: false
# name: OctoPrint
# items:
#    .__pause
#    .__resume
#    .__abort

# [menu __prepare]
# type: list
# enable: !toolhead.is_printing
# name: Prepare
# items:
#     .__bed_mesh_calibrate
#     .__bed_mesh_clear
#     .__hotend_pid_tuning
#     .__hotbed_pid_tuning
#     .__host_restart
#     .__firmware_restart

# [menu __prepare __bed_mesh_calibrate]
# type: command
# enable: !toolhead.is_printing
# name: Calibrate Bed Mesh
# gcode: BED_MESH_CALIBRATE

# [menu __prepare __bed_mesh_clear]
# type: command
# enable: !toolhead.is_printing
# name: Clear Bed Mesh
# gcode: BED_MESH_CLEAR

# [menu __temp __cooldown]
# type: command
# enable: extruder.is_enabled,heater_bed.is_enabled
# name: Cooldown
# gcode:
#     M104 S0
#     M140 S0

# [menu __control]
# type: list
# name: Control
# items:
#     .__home
#     .__move_10mm
#     .__move_1mm
#     .__move_01mm
#     .__disable
#     .__fanonoff
#     .__fanspeed

# [menu __control __move_10mm __axis_x]
# type: input
# name: "X:{0:05.1f} "
# parameter: gcode.move_xpos
# input_min: 0
# input_max: 250.0
# input_step: 10.0
# gcode:
#     G90
#     G1 X{0:.1f} F2400

# [menu __control __move_10mm __axis_y]
# type: input
# name: "Y:{0:05.1f} "
# parameter: gcode.move_ypos
# input_min: 0
# input_max: 250.0
# input_step: 10.0
# gcode:
#     G90
#     G1 Y{0:.1f} F2400

# [menu __control __move_10mm __axis_z]
# type: input
# enable: !toolhead.is_printing
# name: "Move Z:{0:05.1f}"
# parameter: gcode.move_zpos
# input_min: 0
# input_max: 230.0
# input_step: 10.0
# gcode:
#     G90
#     G1 Z{0:.1f} F240

# [menu __control __move_1mm __axis_x]
# type: input
# name: "X:{0:05.1f} "
# parameter: gcode.move_xpos
# input_min: 0
# input_max: 250.0
# input_step: 1.0
# gcode:
#     G90
#     G1 X{0:.1f} F2400

# [menu __control __move_1mm __axis_y]
# type: input
# name: "Y:{0:05.1f} "
# parameter: gcode.move_ypos
# input_min: 0
# input_max: 250.0
# input_step: 1.0
# gcode:
#     G90
#     G1 Y{0:.1f} F2400

# [menu __control __move_1mm __axis_z]
# type: input
# enable: !toolhead.is_printing
# name: "Move Z:{0:05.1f}"
# parameter: gcode.move_zpos
# input_min: -3
# input_max: 230.0
# input_step: 1.0
# gcode:
#     G90
#     G1 Z{0:.1f} F240

# [menu __control __move_01mm __axis_x]
# type: input
# name: "X:{0:05.1f} "
# parameter: gcode.move_xpos
# input_min: 0
# input_max: 250.0
# input_step: 0.1
# gcode:
#     G90
#     G1 X{0:.1f} F2400

# [menu __control __move_01mm __axis_y]
# type: input
# name: "Y:{0:05.1f} "
# parameter: gcode.move_ypos
# input_min: 0
# input_max: 250.0
# input_step: 0.1
# gcode:
#     G90
#     G1 Y{0:.1f} F2400

# [menu __control __move_01mm __axis_z]
# type: input
# enable: !toolhead.is_printing
# name: "Move Z:{0:05.1f}"
# parameter: gcode.move_zpos
# input_min: -3.0
# input_max: 230.0
# input_step: 0.1
# gcode:
#     G90
#     G1 Z{0:.1f} F240

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.821
#*# pid_ki = 1.843
#*# pid_kd = 97.561
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.984
#*# pid_ki = 0.724
#*# pid_kd = 1241.679
#*#
#*# [probe]
#*# z_offset = 0.305
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.025000, 0.062500, -0.012500, -0.125000
#*# 	0.062500, 0.025000, -0.012500, -0.037500
#*# 	0.012500, 0.012500, -0.031250, -0.050000
#*# 	-0.025000, 0.037500, -0.037500, -0.037500
#*# tension = 0.2
#*# min_x = 15.0
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 1.0
#*# x_count = 4
#*# max_y = 209.97
#*# mesh_x_pps = 2
#*# max_x = 229.98
